.app-container {
  min-height: 100vh;
  background-color: #ffffff;
}

.success-card {
  padding-left: 60px;
}

.success-heading {
  font-size: 32px;
  font-family: 'Roboto';
  color: #1e293b;
  font-weight: bold;
  margin-bottom: 20px;
}

.success-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
